//-
  Header has two parts.
  1. Title box. It will contain title and links to github if required
  2. Navbar

.tower
  // Title box
  .row.title-box
    .any.items.u-text-center
      h1 Simple CSS
  .row
    .twelve.items.u-no-padding
      ul.nav
        li
          a(href="/") Home
        li.dropdown
          a.dropbtn(href='#') Feature
          ul.dropdown-content
            li
              a(href="/navbar") Navbar
