extends layout

block content
  h2 Origin
  p.
    SimpleCSS is a simple CSS library (duh!). It is inspired from #[a(href='http://getskeleton.com') getskeleton] css library. A significant difference between SimpleCSS and skeleton is the layout system. SimpleCSS uses flexbox for its layout, which is derived from #[a(href='http://flexboxgrid.com') flexboxgrid] library. So you can say that SimpleCSS is a fusion of skeleton and flexboxgrid.
