doctype 5
html
  head
    title SimpleCSS
    block head
      link(rel='stylesheet', href='/public/css/all.css')
      link(rel='stylesheet', href='/public/css/style.css')

  body
    .container
      include partials/header.pug

      div.u-flex
        block content

      include partials/footer.pug
