/* Uncomment and set these variables to customize the grid. */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: flex; display: -webkit-flex; display: -ms-flexbox; display: -webkit-box;
  flex: 0 1 auto; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; -webkit-box-flex: 0;
  flex-direction: row; -webkit-flex-direction: row; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal;
  flex-wrap: wrap; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  flex-direction: row-reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -webkit-box-orient: horizontal; -webkit-box-direction: reverse;
}

.col.reverse {
  flex-direction: column-reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; -webkit-box-orient: vertical; -webkit-box-direction: reverse;
}

.col {
  box-sizing: border-box;
  flex: 0 0 auto; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; -webkit-box-flex: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; -webkit-box-flex: 1;
  flex-basis: 0; -ms-flex-preferred-size: 0; -webkit-flex-basis: 0;
  max-width: 100%;
}

.one {
  flex-basis: 8.333%; -ms-flex-preferred-size: 8.333%; -webkit-flex-basis: 8.333%;
  max-width: 8.333%;
}

.two {
  flex-basis: 16.667%; -ms-flex-preferred-size: 16.667%; -webkit-flex-basis: 16.667%;
  max-width: 16.667%;
}

.three {
  flex-basis: 25%; -ms-flex-preferred-size: 25%; -webkit-flex-basis: 25%;
  max-width: 25%;
}

.four {
  flex-basis: 33.333%; -ms-flex-preferred-size: 33.333%; -webkit-flex-basis: 33.333%;
  max-width: 33.333%;
}

.five {
  flex-basis: 41.667%; -ms-flex-preferred-size: 41.667%; -webkit-flex-basis: 41.667%;
  max-width: 41.667%;
}

.six {
  flex-basis: 50%; -ms-flex-preferred-size: 50%; -webkit-flex-basis: 50%;
  max-width: 50%;
}

.seven {
  flex-basis: 58.333%; -ms-flex-preferred-size: 58.333%; -webkit-flex-basis: 58.333%;
  max-width: 58.333%;
}

.eight {
  flex-basis: 66.667%; -ms-flex-preferred-size: 66.667%; -webkit-flex-basis: 66.667%;
  max-width: 66.667%;
}

.nine {
  flex-basis: 75%; -ms-flex-preferred-size: 75%; -webkit-flex-basis: 75%;
  max-width: 75%;
}

.ten {
  flex-basis: 83.333%; -ms-flex-preferred-size: 83.333%; -webkit-flex-basis: 83.333%;
  max-width: 83.333%;
}

.eleven {
  flex-basis: 91.667%; -ms-flex-preferred-size: 91.667%; -webkit-flex-basis: 91.667%;
  max-width: 91.667%;
}

.twelve {
  flex-basis: 100%; -ms-flex-preferred-size: 100%; -webkit-flex-basis: 100%;
  max-width: 100%;
}

.offset-by-1 {
  margin-left: 8.333%;
}

.offset-by-2 {
  margin-left: 16.667%;
}

.offset-by-3 {
  margin-left: 25%;
}

.offset-by-4 {
  margin-left: 33.333%;
}

.offset-by-5 {
  margin-left: 41.667%;
}

.offset-by-6 {
  margin-left: 50%;
}

.offset-by-7 {
  margin-left: 58.333%;
}

.offset-by-8 {
  margin-left: 66.667%;
}

.offset-by-9 {
  margin-left: 75%;
}

.offset-by-10 {
  margin-left: 83.333%;
}

.offset-by-11 {
  margin-left: 91.667%;
}

.start {
  justify-content: flex-start; -webkit-justify-content: flex-start; -ms-flex-pack: start; -webkit-box-pack: start;
  text-align: start;
}

.center {
  justify-content: center; -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: center;
  text-align: center;
}

.end {
  justify-content: flex-end; -webkit-justify-content: flex-end; -ms-flex-pack: end; -webkit-box-pack: end;
  text-align: end;
}

.top {
  align-items: flex-start; -webkit-align-items: flex-start; -ms-flex-align: start; -webkit-box-align: start;
}

.middle {
  align-items: center; -webkit-align-items: center; -ms-flex-align: center; -webkit-box-align: center;
}

.bottom {
  align-items: flex-end; -webkit-align-items: flex-end; -ms-flex-align: end; -webkit-box-align: end;
}

.around {
  justify-content: space-around; -webkit-justify-content: space-around; -ms-flex-pack: distribute;
}

.between {
  justify-content: space-between; -webkit-justify-content: space-between; -ms-flex-pack: justify; -webkit-box-pack: justify;
}

.first {
  order: -1; -webkit-order: -1; -ms-flex-order: -1; -webkit-box-ordinal-group: 0;
}

.last {
  order: 1; -webkit-order: 1; -ms-flex-order: 1; -webkit-box-ordinal-group: 2;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }
}
