.u-debug {
  border: 1px solid red;
}

/*Flex Box Utilities*/

/*Expands to available width or height depending on axis*/
.u-flex {
  -webkit-flex: 1; -ms-flex: 1; -webkit-box-flex: 1;
  flex: auto;
}

/*Align items inside container*/
.u-flex-center {
  align-items: center;
}


/*Text
**********************************/
.u-text-center{
  text-align: center;
}
.u-text-right{
  text-align: right;
}
.u-no-padding{
  padding: 0;
}
